body {
    background: #ecf0f1;
    font-family: BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

/*General page css*/
.left-bar {
    padding-bottom: 10em;
    background: #2c3e50;
    /*width: 25%;*/
    min-width: 275pt;
}

/*=========================*/

/*Login realated things*/

#login-form {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 10px;
}

#login-form input{
    display: block;
    position: relative;
    width: 100%;

    padding: 10px; 
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    padding: 10px 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3498db;
}

.logout-button {
    float: right;
}

.welcome-message {
    position: relative;
    color: white;
    display: inline-block;
    font-size: 24pt;
    margin-bottom: 5px;
}


/*=========================*/

/*Stock list related things*/

#stock-list {
    margin-left: 0;
    padding-left: 0;
}

.stock-container {
    position:relative;
    width: 50%;
    
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;

    background: #ecf0f1;
    padding-top: 1em;
    border-radius: 10px;
    border: 1px solid #95a5a6;
}

.stock-list-item {
    position: relative;
    width: 96%;
    list-style: none;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2%;
    padding-right: 2%;
}

/*Remove button*/
#rmb {
    float: right;
}

/*The current price + change thing*/
.change-display {
    float: right;
    font-family: monospace;
    font-size: 12pt;
}

.stock-price-current {
    padding-right: 3px;
}

.stock-change {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.stock-selected {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

.stock-header-label {
    font-weight: bold;
    padding-left: 2%;
}

.button-add-stocks {
    float: right;
    margin-right: 2%;
}

.up {
    background: #2ecc71;
}

.down {
    background: #e74c3c;
}

.even {
    background: #ecf0f1;
}

.odd {
    background: #bdc3c7;
}

/*Notes section*/
.annual-trend-label,
.stock-details-label,
.no-more-stocks,
.notes-label {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

.notes-label {
    font-weight: bold;
}

.annual-trend-label:before {
    content: 'Annual trend: ';
    font-weight: bold;
}

.stock-details-label {
    text-align: center;
    font-weight: bold;
}

.notes {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/*Adding stocks section*/
.no-more-stocks {
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1em;
}

.add-stock-button {
    margin-left: 1em;
}

.divider {
    width: 100%;
}